<ion-header>
  <ion-navbar>

    <ion-title>Eventi trovati</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">


  <ion-list class="list" *ngFor="let e of events">
    <ion-card class="card_">
      <img src="assets/imgs/events.jpg" />
      <ion-card-title class="card-title">{{e.nome_evento}}</ion-card-title>

      <p class="card-description">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;{{e.luogo}}</span><br />
        <span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{e.data}}&nbsp;-&nbsp;{{e.orario}}</span><br
      /><br />
        {{e.descrizione}}
      </p>

    </ion-card>
    <br/>
  </ion-list>
  <ion-fab right bottom *ngIf ="shareService.getUser().getTipologia() == 'associazione'">
    <button ion-fab color="bordeaux_"  (click)="creaEvento()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
