page-lista-competenze {
 .ciccio{
   position: fixed;
   width: 80%;
   bottom: 3%;
   text-align: center;
 }

 .main{
     // width: 5%;
     height: 100%;
 }
 .dio{

   height: 90%;
   overflow-y: scroll;
 }

.barone{

  position: relative;
  bottom: 44%;
}

b{
  font-size: 1.2em;
}

}
