// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2A2C43,
  secondary:  #677077,
  danger:     #85B5B7,
  light:      #f4f4f4,
  dark:       #222,
  energy: #f2b632,
  white: #ffffff,

 bordeaux_: #c14835,
        /*bordeaux_: #00309f,*/
  lightgrey_: #eaeaea,
        grey_2: #f4f1f0,
  darkgrey_: #9b9b9b,
  lightblack_: #656460,
  lightblack_2: #3f3d3e,
  lightblack_3: #4e4d49
/*
arancio: c18035
blu: 00309f
verde: 2ea938

*/
);


/*******************font-awesome***********************/
input[type=text],
input[type=email],
input[type=password],
select,
input[type=date]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
select:focus,
input[type=date]:focus{
  border-color:color($colors, bordeaux_);
  box-shadow:0 0 8px 0 color($colors, bordeaux_);
}

.inputWithIcon input[type=text],
.inputWithIcon input[type=email],
.inputWithIcon input[type=password],
.inputWithIcon select,
.inputWithIcon input[type=date]{
  padding-left:40px;
}

.inputWithIcon{
  position:relative;
}

.inputWithIcon i{
  position:absolute;
  left:0;
  top:8px;
  padding:9px 8px;
  color:color($colors, bordeaux_);
  transition:.3s;
}

.inputWithIcon input[type=text]:focus + i,
.inputWithIcon input[type=email]:focus + i,
.inputWithIcon input[type=password]:focus + i,
.inputWithIcon select:focus + i,
.inputWithIcon input[type=date]:focus + i{
  color:color($colors, bordeaux_);
}

.inputWithIcon.inputIconBg i{
  background-color:#aaa;
  color:#fff;
  padding:9px 4px;
  border-radius:4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type=text]:focus + i{
  color:#fff;
  background-color:color($colors, bordeaux_);
}
/*******************font-awesome END***********************/
/*******MENU********/
.menu{
  width: 95%;
  margin: auto;
  position: relative;
  top: -15px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: white;
}

.menu li {
  font-size: 1.5em;
  float: left;
  border-right: 1px solid #bbb;
}
.menu li:last-child {
  border-right: none;
}
.menu li a {
  display: block;
  color: color($colors, bordeaux_);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover*/
.menu li a:hover {
  color: color($colors, lightblack_);
}
/*******end MENU********/
/****************CHECKBOX*************************/
input[type=checkbox] {
  /* transform: scale(1.5);
   background-color: color($colors, bordeaux_);*/
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;

}
.checkbox {
  margin: 20px auto;
  position: relative;
  display: block;
  width: 90%;
  font-size: 1.2em;
}
.helper {
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  user-select: none;
  color: #e7e7e7;
}
.helper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid color($colors, bordeaux_);;
}
.helper:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid color($colors, bordeaux_);;
  border-left: 2px solid color($colors, bordeaux_);;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 12px;
  left: 10px;
}
input[type="checkbox"]:checked ~ .helper::before {
  color: color($colors, bordeaux_);
}
input[type="checkbox"]:checked ~ .helper::after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 24px;
  padding-left: 35px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
/*****************CHECKBOX END******************/
/*****************RADIO******************/
/*
  input[type=radio] {
 transform: scale(1.5);
}
*/
.radio_assistenza{
  margin-left: 15px;
  padding-top: 15px;

}
/* Nasconde  radio button */
p:not(#foo) > input[type='radio'] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
input[type='radio'] + label {
  cursor: pointer; /* Imposta il cursore per le label */
  padding: 0 0 0 15px; /* Padding a sinistra per rendere il controllo cliccabile */
  margin: 0 0 0 5px; /* Margine a destra per posizionare al meglio il controllo */
  position: relative; /* Creiamo un contesto di posizionamento per il contenuto generato */
}
p:not(#foo) > input[type='radio'] + label:before { /* Contenuto generato per le label associate ai radio button */
  content: "";
  width: 15px;
  height: 15px;
  border: solid 1px color($colors, bordeaux_);
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px; /* Border-radius: 7.5px = metà di larghezza e altezza */
  background: #fff;
  cursor: pointer;
  position: absolute; /* Posizioniamo il contenuto generato rispetto alla label */
  top: -1px; /* Spostamento verticale */
  left: -5px; /* Spostamento orizzontale */
}
p:not(#foo) > input[type='radio']:checked + label:after { /* Segno di spunta dei radio button e suo colore */
  content: "";
  display: block; /* Display: block per centrare il segno di spunta orizzontalmente */
  width: 8px; /* Creiamo un cerchio più piccolo */
  height: 8px; /* Anche in altezza */
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 3px;
  left: 0;
  margin: 0 auto;
  background-color: color($colors, bordeaux_); /* Colore di sfondo */
}

/*****************RADIO END******************/
.microfono{
  text-align: center;
  width: 90%;
}
.microfono button{

  background-color: color($colors, bordeaux_);
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$toolbar-background: color($colors, lightblack_2);
$toolbar-color: color($colors, lightgrey_);


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
