<ion-menu [content]="content">
<!--
    <ion-header>
        <ion-toolbar>
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
-->
    <ion-content class="menuSideBar">
        <ion-list>
            <ion-item>
                <ion-avatar item-start class="avatar">
                    <img [src]="Image">
                </ion-avatar>
                <br />
                <h2 *ngIf="shareService.getUser()!=undefined && shareService.getUser().getTipologia() != 'associazione'">
                    {{shareService.getUser().getUsername()}}
                </h2><!--  -->
                <h2 *ngIf="shareService.getUser()!=undefined && shareService.getUser().getTipologia() == 'associazione'">
                    {{shareService.getUser().getUsername()}}
                </h2><!--  -->
                <button>
                    <ion-icon name="create"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
        <ion-list *ngFor="let p of shareService.getPages()"  no-lines>
    <!--        <ion-item-divider ion-item  no-lines >{{p.label}}</ion-item-divider>-->
            <button menuClose  *ngFor="let item of p.items"  ion-item (click)="openPage(item)" >

                <ion-icon name="{{item.icon}}" ></ion-icon>
                &nbsp;&nbsp;{{item.title}}
            </button>

        </ion-list>

    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage"  #content swipeBackEnabled="false"></ion-nav>
