page-ricerca {
  .content{
    background-color: color($colors, lightblack_3);
    text-align: center;
  }
  #ricerca-div{
    padding: 10px;
    width: 100%;
    background-color: color($colors, lightgrey_);
  }
  #richieste,#assistenti{
    background-color: color($colors, lightgrey_);
  }
  .menu{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #000;
    font-size: 0.65em;
    text-align: center;
  }
  button{
    background-color: color($colors, bordeaux_);
    text-align: center;
    color: color($colors, white);
    width: 100%;
    padding: 5%;
    border: 0;
   
  }
}
