page-inserisci {
  .content{
    background-color: color($colors, lightgrey_);
  }

  h1{
    text-align: center;
  }

  .search{
    position: absolute;
    float: right;
    right: 5%;
    background: none;
    font-size: 25px !important;
  }

  .richiesta{
    position: relative;
    right: 7%;
    font-size: 1.3em;
    margin-left: 2%;
  }
  .offerta{
    position: relative;
    font-size: 1.3em;
    margin-left: 2%;
    left: 7%;
  }

.urgenza{
  margin-left: 3%;
  position: relative;
  left: 4%

}
.automunito{
  position: relative;
    margin-left: 3%;
  left: 35%
}
  button{
    background-color: color($colors, bordeaux_);
    text-align: center;
    color: color($colors, white);
    width: 100%;
    padding: 5%;
    border: 0;
    font-size: 1.2em;
  }

.patente{
  position: relative;
  left: 25%;
    margin-left: 3%;
  margin-top: 10%;
}
.conferma{
  position: absolute;
  bottom: 2%;
  left: 25%;

}

.spazio{
  width: 40%;
  border-width: 3px;
}

}
