page-registrazione {

  .flexContainer{
      display: flex;
  }
  .inputField{
      flex: 1;
  }
  #avatar-anonymous{
      color: color($colors, bordeaux_);
      text-align: center;
  }
  #logo {
    position: absolute;
    top: 5%;
      background-color: color($colors, lightgrey_);

  //    margin-left: 25px;
  }

  .error{
    width: 80%;
    font-size: 18px;
    color: color($colors, white);
    background: color($colors, lightblack_);
    border-radius: 3px;
    padding: 25px;

    margin: -16px auto 15px;

  }

  #signup {
      font-size: 1.6em;
      background: color($colors, lightgrey_);
      h1 {
          font-size: 32px;
          margin-top: 25px;
          margin-bottom: 25px;
      }
  }
  #styleForm {

      background-color: color($colors, darkgrey_);
      padding: 5%;
      text-align: center;
      width: 100%;
      //margin: 0 auto;

      select, input[type=date]{
          background-color: white;
          color: gray;
      }
      option[value=""][disabled] {
          display: none;
      }
      option {
          color: black;
      }

  }
  button{
      background-color: color($colors, bordeaux_);

      border-radius:4px;
      text-align: center;
      color: color($colors, white);
//      width: 100%;
      padding: 5%;
      margin-top: 5%;
      border: 0;
      font-size: 1.2em;
      font-family: 'Roboto', 'sans-serif';
  }
  .sesso{
    position: relative;
    margin-right: 15%;
  }
  .zeus{
    background-color: color($colors, bordeaux_);
    text-align: center;
    color: color($colors, white);
    width: 50%;
    padding: 5%;
    margin-top: 5%;
    border: 0;
    font-size: 1.2em;
    font-family: 'Roboto', 'sans-serif';
  }

  .ade{
    background-color: color($colors, bordeaux_);
    text-align: center;
    color: color($colors, white);
    width: 100%;
    padding: 5%;
    margin-top: 5%;
    border: 0;
    font-size: 1.2em;
    font-family: 'Roboto', 'sans-serif';
  }
  .efesto{
    overflow-y: scroll;
  }
}
