<!--
  Generated template for the PasswordDimenticataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>password-dimenticata</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

       <h1 text-center>Password dimenticata?</h1>

        <ion-grid radio-group (change)="cambio($event)" >
          <ion-row>
            <ion-col><input type="radio" name = "tipologia" checked/><b>Telefono</b></ion-col>
            <ion-col><input type="radio" name = "tipologia"  /><b>Email</b></ion-col>
          </ion-row>
        </ion-grid>




        <br/>

        <div id="styleForm">
            <div class="inputWithIcon" *ngIf ="radioEmail">
                <input type="email" placeholder="Email" [(ngModel)]="email"/>
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
            </div>

            <div class="inputWithIcon"  *ngIf ="radioTel">
                <input type="text" [(ngModel)]="tel" placeholder="Numero di telefono"/>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
            </div>

            <button block (click) = "indietro()" class="zeus"><b>indietro</b></button>  <button block class="zeus" (click)="boom()"><b>Conferma</b></button>

        </div>
</ion-content>
