page-rubrica {
    #rubirca {
        #logo {
            margin-top: 75px;
            margin-left: 25px;
            margin-bottom: 25px; 
        }
        h1 {
            font-size: 32px;
            margin-top: 50px;
            text-align: center;
        }
        #div_search{
            
        }
    }
    
}
