
<ion-header>

  <ion-navbar>
    <ion-title>AiutiamoCi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bacheca">
<h1 text-center>Bacheca</h1>
  <ion-list>
    <ion-card class="cards" *ngFor="let post of posts">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="ade" start><b>{{post.username}}</b></ion-col>
            <ion-col >
              <i id="pulsante" class="fa fa-envelope-square  fa-2x" aria-hidden="true" (click)="sendEmail(post.email)" ></i>
              <i id="pulsante" class="fa fa-phone-square  fa-2x" aria-hidden="true" (click)="callNumTelephone(post.telefono)"></i>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card-header>
  <p class="text">{{post.testo}}</p>
  <br/>
  <ion-grid>
  <ion-row>
    <ion-col *ngIf="post.automunito =='1'" ><b *ngIf="post.automunito =='1'" class="eolo">Automunito</b></ion-col><ion-col *ngIf="post.urgenza== '1'" start><b  *ngIf="post.Urgenza=='1'" class="eolo">Urgenza</b></ion-col><ion-col *ngIf="post.patente =='1'" start><b *ngIf="post.patente=='1'" class="eolo">Patentato</b></ion-col>
  </ion-row>
  </ion-grid>
  <button ion-button round  class="odino"><b>Competenze</b></button>
  <br/>
  <span>{{post.data}}</span>
    </ion-card>
  </ion-list>


  <br />
  <br />
  <br />
  <!--
  <button  (click)="nuovo_msg()">
    Nuovo
  </button>
  -->
  <ion-fab right bottom>
    <button ion-fab color="bordeaux_"  (click)="nuovo_msg()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
