page-bacheca {


  .ade{
    font-size: 1.7em;
  }

    .content{
      background: color($colors, lightgrey_);


    }
    #username{
      font-size: 12pt;
    }
    #post{
      background: color($colors, white);
      padding: 10px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    #competenze{
      font-size: 12pt;
      padding: 2px;
    }
    #pulsante{
      color: color($colors, bordeaux_);
      cursor: pointer;
      position: relative;
      right: 2%;
    }
    #testo{
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 1.2em;

    }
    #nome-contatti{
      padding-top: 5px;

    }
    #data{

      font-size: 1em;
    }

  /*  button{
      background-color: color($colors, bordeaux_);
      text-align: center;
      color: color($colors, white);
      width: 100%;
      padding: 5%;
      border: 0;
      font-size: 1.2em;
    }*/

.cards{
  margin-top: 15%;
}

    span{
      margin: 3%;
    }

    .text{
      position: relative;
      font-size: 1.5em;
      width: 80%;
      left: 10%

    }

    .odino{
      position: relative;
      background-color: color($colors, bordeaux_);
      color: color($colors, white);
    //  font-size: 1.2em;
      width: 80%;
      left: 10%;

    }

  .eolo{
    font-size: 1.1em;
  }


}
