<!--
  Generated template for the RisultatiRicercaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Risultati ricerca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bacheca">
<h1 text-center>Annunci trovati</h1>
  <ion-list>
    <ion-card class="cards" *ngFor="let post of posts">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col class="ade" start><b>{{post.Username}}</b></ion-col>
            <ion-col >
              <i id="pulsante" class="fa fa-envelope-square  fa-2x" aria-hidden="true"></i>
              <i id="pulsante" class="fa fa-phone-square  fa-2x" aria-hidden="true" (click)="callNumTelephone(post.telefono)"></i>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card-header>
  <p class="text">{{post.Testo}}</p>
  <br/>
  <ion-grid>
  <ion-row>
    <ion-col *ngIf="post.automunito =='1'" ><b *ngIf="post.automunito =='1'" class="eolo">Automunito</b></ion-col><ion-col *ngIf="post.urgenza== '1'" start><b  *ngIf="post.Urgenza=='1'" class="eolo">Urgenza</b></ion-col><ion-col *ngIf="post.patente =='1'" start><b *ngIf="post.patente=='1'" class="eolo">Patentato</b></ion-col>
  </ion-row>
  </ion-grid>
  <button ion-button round  class="odino"><b>Competenze</b></button>
  <br/>
  <span>{{post.Data}}</span>
    </ion-card>
  </ion-list>

</ion-content>
